<div class="row">
    <div class="col s12">
        <div class="card">
            <div class="card-content white-text">
                <div class="row">
                    <div class="col s5">
                        <form #mealForm="ngForm" (ngSubmit)="onSubmit(mealForm)">
                            <input type="hidden" name="_id" #_id="ngModel" [(ngModel)]="mealService.selectedMeal._id">
                            <div class="row">
                                <div class="input-field col s12">
                                    <label>Name:</label>
                                    <input type="text" name="name" #name="ngModel"
                                        [(ngModel)]="mealService.selectedMeal.item" placeholder="Enter Meal name">
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12">
                                    <label>Price:</label>
                                    <input type="text" name="price" #name="ngModel"
                                        [(ngModel)]="mealService.selectedMeal.price" placeholder="Enter Meal Price">

                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12">
                                    <button class="btn btn-custom right" type="button" (click)="resetForm(mealForm)">Reset</button>
                                    <button class="btn btn-custom right" type="submit">Submit</button>
                                </div>
                            </div>
                        </form>
                    </div>



                    <div class="col s7">
                        <table class="responsive-table highlight">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>price</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tr *ngFor="let meal of mealService.meal">
                                <td>{{meal.item}}</td>
                                <td>{{meal.price}}</td>
                                <td>
                                    <a class="action-btn" (click)="onEdit(meal)">
                                        <i class="material-icons">edit</i>
                                    </a>
                                    <a class="action-btn" (click)="onDelete(meal._id,mealForm)">
                                        <i class="material-icons">delete</i>
                                    </a>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>